name: Build Package
on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: 检出代码
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        ref: ${{ github.event.pull_request.head.ref || github.ref_name }}
        repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}

    - name: 设置 pnpm
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      with:
        run_install: true

    - name: 构建
      run: |
        pnpm build
        pnpm pkg delete devDependencies
        mkdir -p ${{ runner.temp }}/temp/
        cp -r package.json README.md dist ${{ runner.temp }}/temp/

    - name: 上传构建产物
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: puppeteer-core
        path: ${{ runner.temp }}/temp/